<div ng-controller="catAddController as ctrl">
<div class="col-sm-6">
  
    <form name="catForm" ng-submit="ctrl.submit(catForm.$valid)" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : catForm.name.$invalid && !catForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="ctrl.cat.name" required>
            <p ng-show="catForm.name.$invalid && !catForm.name.$pristine" class="help-block">cat name is required.</p>
        </div>
      
        <div class="form-group">
            <label>Url</label>
            <input type="text" name="url" class="form-control" ng-model="ctrl.cat.url" ng-minlength="3" ng-maxlength="8">
            <p ng-show="catForm.url.$invalid && !catForm.url.$pristine" class="help-block">cat url is not valid.</p>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-disabled="catForm.$invalid">Submit</button>
        
    </form>
  </div>